@model ApplicationContext
@using System;
@using System.Web;
@using System.IO;

@{
    Review data = Model.Reviews.FirstOrDefault(review => review.Id == (int)ViewData["reviewId"]);
}
<form asp-controller="MyPage" asp-action="BackToMyPage" class="form-horizontal">
    <button type="submit" class="btn btn-primary"><i class="bi bi-arrow-left-square"></i> @TextModel.Context["back to your page"]</button>
</form>
<div class="text-center">
    <h1 class="display-4"><i class="bi bi-pen"></i> @TextModel.Context["edit"]</h1>
</div>
@{
    ViewData.Add("description", data.Description);
    <partial name="../Review/CreationReview" model="ViewData.Model.Tags" view-data="ViewData" />
    ViewData.Remove("description");
}
<script>
    document.getElementById('button').value = 'updateReview';
    document.getElementById('buttonText').innerHTML = '@TextModel.Context["save changes"]';
    document.getElementById('reviewName').value = '@data.Name';
    document.getElementById('creationName').value = '@data.CreationName';
    document.getElementById('selector').value = "@data.Category";
    document.getElementById('number').value = "@data.AuthorRate";
</script>
@if (data.ImageUrl != "")
{
    <script>
        document.querySelector('#image').innerHTML = '';
    </script>
    foreach (var imgName in data.ImageUrl.Split(' '))
    {
        if (imgName != "")
        {
            byte[] imgBytes = await ImageService.Download(imgName);
            string str = Convert.ToBase64String(imgBytes);
            <script>
                document.querySelector('#image').insertAdjacentHTML("beforeend", '<img style="width: 30%;" src="data:image/*;base64,@str" alt="Red dot" />');
            </script>
        }
    }
}
@foreach (var tag in await ViewData.Model.SelectReviewTags(data.Id))
{
    <script>
        var str = "@HttpUtility.UrlEncode(tag.Replace(" ", "\u00A0"))";
        str = decodeURI(str);
        str = str.replaceAll("%2f", "/").replaceAll("%26nbsp%3b", " ");
        document.getElementById('tag').value = str;
        addTagLabel();
    </script>
}