@using System;
@using System.Web;
@using System.IO;


@{
    <div class="wrapper" style="width: 30%; float: right;" id="likes-@Model.Id">
        <div style="float: right" id="likes">
            @TextModel.Context["likes"]@Model.Likes
        </div>
    </div>
    if (Model.ImageUrl != "")
    {
        <script>
            setTimeout(function () {
                @{
                    string imgName = Model.ImageUrl;
                    byte[] imgBytes = await ImageService.Download(imgName);
                    string str = Convert.ToBase64String(imgBytes);
                }
                document.getElementById('likes-@Model.Id').insertAdjacentHTML("beforeend", '<p><img style="width: 100%" src="data:image/*;base64,@str" alt="Red dot" /></p>');
            }, 200);
        </script>
    }

    <p>@TextModel.Context["reviewname"]@Model.Name</p>
    <p>@TextModel.Context["creation review name"]<label id="creationName">@Model.CreationName</label></p>
    <p>@TextModel.Context["author"]@ViewData["authorName"] (<i style="color: green">@ViewData["likes"]</i>)</p>
    <p>@TextModel.Context["category"]@TextModel.Context[Model.Category]</p>
    <p>@TextModel.Context["tag"] <label>@ViewData["reviewTags"]</label></p>
    <p>@TextModel.Context["author rate"]@Model.AuthorRate</p>
    <p>@TextModel.Context["creation rate"]<label style="color: yellow" id="creationRate-@Model.Id"></label></p>
    <p>@TextModel.Context["users rate"]<label style="color: yellow" id="userRate-@Model.Id"></label></p>
    <script>
        getUserRate('@Model.UsersRate.ToString().Replace(',', '.')', 'creationRate-@Model.Id');
        getUserRate('@Model.UsersReviewRate.ToString().Replace(',', '.')', 'userRate-@Model.Id');
    </script>
    <p>@TextModel.Context["date"]@Model.Date.ToShortDateString()</p>
    <p>@TextModel.Context["description"]</p>
    <script>
        var str = "@HttpUtility.UrlEncode(Model.Description.Replace(" ", "\u00A0"))";
        str = decodeURI(str);
        str = str.replaceAll("%2f", "/").replaceAll("%26nbsp%3b", " ");
        document.getElementById('@Model.Id').insertAdjacentHTML("beforeend", str);
    </script>
}