@using Microsoft.AspNetCore.Identity
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    string currentTheme = HttpContextAccessor.HttpContext.Request.Cookies["theme"] == null
        || HttpContextAccessor.HttpContext.Request.Cookies["theme"] == "light" ? "light" : "dark";
    string currentLanguage = HttpContextAccessor.HttpContext.Request.Cookies["language"] == null
        || HttpContextAccessor.HttpContext.Request.Cookies["language"] == "en" ? "en" : "ru";
}

<!DOCTYPE html>
<html lang=@currentLanguage>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyNetwork</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @if (currentTheme == "light")
    {
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    }
    else
    {
        <link rel="stylesheet" href="~/css/darksite.css" asp-append-version="true" />
    }
    <link rel="stylesheet" href="~/MyNetwork.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-info border-bottom box-shadow mb-3">
            <div class="container-fluid" style="border-bottom-style: solid; border-bottom-color: red; border-top-style: solid; border-top-color: red" id="navbar">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><i class="bi bi-house"></i>@TextModel.Context["home"]</a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item" style="border-left:solid red">
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <a class="nav-link text-dark" asp-area="" asp-controller="MyPage" asp-action="MyPage">@TextModel.Context["my page"]</a>
                            }
                            else
                            {
                                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">@TextModel.Context["my page"]</a>
                            }
                        </li>
                        <li class="nav-item" style="border-left:solid red">
                            <a class="nav-link text-dark">@TextModel.Context["language"]</a>
                        </li>
                        <li class="nav-item">
                            <select style="margin-top: 0.4em; margin-right: 0.8em" onchange="changeLanguage();" id="languageSelector">
                                <option value="@("en")">@TextModel.Context["english"]</option>
                                <option value="@("ru")">@TextModel.Context["russian"]</option>
                            </select>
                            <script>
                                document.getElementById('languageSelector').value = "@currentLanguage";
                            </script>
                        </li>
                        <li class="nav-item" style="border-left:solid red">
                            <a class="nav-link text-dark">@TextModel.Context["theme"]</a>
                        </li>
                        <li class="nav-item" style="border-right:solid red">
                            <select style="margin-top: 0.4em; margin-right: 0.8em" onchange="changeTheme();" id="themeSelector">
                                <option value="@("light")">@TextModel.Context["light"]</option>
                                <option value="@("dark")">@TextModel.Context["dark"]</option>
                            </select>
                            <script>
                                document.getElementById('themeSelector').value = "@currentTheme";
                            </script>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
                <button style="display: none; float: right; color: black; font-size: 20px; background-color: transparent; border-color: transparent" id="menu" onclick="displayMenu()" class="bi bi-justify"></button>
            </div>
        </nav>
        <div style="color: black; display: none; float: right; background-color: #04cbf0; position: absolute; right: 0px; top: 50px" id="menuContent">
            <select style="margin-top: 0.4em; margin-right: 0.8em" onchange="changeLanguage();" id="languageMobileSelector">
                <option value="@("en")">@TextModel.Context["english"]</option>
                <option value="@("ru")">@TextModel.Context["russian"]</option>
            </select>
            <p></p>
            <select style="margin-top: 0.4em; margin-right: 0.8em" onchange="changeTheme();" id="themeMobileSelector">
                <option value="@("light")">@TextModel.Context["light"]</option>
                <option value="@("dark")">@TextModel.Context["dark"]</option>
            </select>
            <script>
                document.getElementById('languageMobileSelector').value = "@currentLanguage";
                document.getElementById('themeMobileSelector').value = "@currentTheme";
            </script>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <div id="lastDiv"></div>
    <script>
        let parrent = document.getElementById('menuContent');
        document.getElementById('navbar').querySelectorAll('li').forEach((element, index) => {
            if (index == 0) {
                let clone = element.querySelector('a').cloneNode(true);
                parrent.appendChild(clone);
            }
            else if (index == 5) {
                let clone = element.querySelector('a').cloneNode(true);
                parrent.appendChild(clone);
            }
            else if (index == 6) {
                if (element.querySelectorAll('a').length > 0) {
                    let clone = element.querySelector('a').cloneNode(true);
                    parrent.appendChild(clone);
                }
                else {
                    let clone = element.querySelector('form').cloneNode(true);
                    parrent.appendChild(clone);
                }
            }
        });

        $(document).ready(function () {
            $("#lastDiv").nextAll("center").remove();
            $("#lastDiv").nextAll("div").remove();
            setTimeout(function () {
                $("#lastDiv").nextAll("div").remove();
            }, 500);
            setTimeout(function () {
                $("#lastDiv").nextAll("div").remove();
            }, 1000);
            setTimeout(function () {
                $("#lastDiv").nextAll("div").remove();
            }, 3000);
        });
    </script>
    <script>
        let displayMode = 'none';
        function changeTheme() {
            let id;
            if (document.getElementById('menuContent').style.display == 'none') id = 'themeSelector';
            else id = 'themeMobileSelector';
            $.ajax({
                url: "/Home/ChangeTheme",
                method: 'GET',
                data: {
                    theme: document.getElementById(id).value
                }
            });
            setTimeout(function () {
                location.reload();
            }, 700);
        }
        function changeLanguage() {
            let id;
            if (document.getElementById('menuContent').style.display == 'none') id = 'languageSelector';
            else id = 'languageMobileSelector';
            $.ajax({
                url: "/Home/ChangeLanguage",
                method: 'GET',
                data: {
                    language: document.getElementById(id).value
                }
            });
            setTimeout(function () {
                location.reload();
            }, 700);
        }

        function displayMenu() {
            if (displayMode == 'none') {
                document.getElementById('menuContent').style.display = 'block';
                displayMode = 'block';
            }
            else {
                document.getElementById('menuContent').style.display = 'none';
                displayMode = 'none';
            }
        }

        function AutoScale() {
            let width = window.innerWidth;
            let elements = document.getElementById('navbar').querySelectorAll('li');
            if (width < 800) {
                elements.forEach(element => {
                    element.style.display = 'none';
                });
                document.getElementById('menu').style.display = 'block';
            }
            else {
                elements.forEach(element => {
                    element.style.display = 'block';
                });
                document.getElementById('menu').style.display = 'none';
                document.getElementById('menuContent').style.display = 'none';
                displayMode = 'none';
            }
        }

        window.addEventListener("resize", AutoScale);
        AutoScale();
    </script>
</body>
</html>
