<div class="text-center">
    <h1 class="display-4">@TextModel.Context["admin mode"]</h1>
</div>
<form asp-controller="MyPage" asp-action="BackToNotAdminMode" class="form-horizontal">
    <button type="submit" class="btn btn-primary"><i class="bi bi-arrow-left-square"></i> @TextModel.Context["back to your page"]</button>
</form>
<h2>@TextModel.Context["list of users"]</h2>
<table class="table">
    <tr>
        <th></th>
        <th>Id</th>
        <th>@TextModel.Context["name"]</th>
        <th>@TextModel.Context["email"]</th>
    </tr>
    @foreach (var data in ViewData.Model)
    {
        <tr>
            <td>
                @{
                    if (data.IsAdmin != "No        ")
                    {
                        <label style="color: gray">@TextModel.Context["admin"]</label>
                    }
                    else
                    {
                        string blockText = "";
                        if (data.IsBlock == "block") blockText = TextModel.Context["unblock user"];
                        else blockText = TextModel.Context["block user"];
                        <form asp-controller="MyPage" asp-action="SelectUser" class="form-horizontal">
                            <button type="submit" class="btn btn-primary" name="selectedUser" value="@data.UserName"><i class="bi bi-pen"></i> @TextModel.Context["edit"]</button>
                        </form>
                        <p></p>
                        <form asp-controller="MyPage" asp-action="DeleteProfile" class="form-horizontal">
                            <button type="submit" class="btn btn-danger" name="userId" value="@data.Id"><i class="bi bi-trash"></i>@TextModel.Context["remove"]</button>
                        </form>
                        <p></p>
                        <form asp-controller="MyPage" asp-action="BlockUser" class="form-horizontal">
                            <button type="submit" class="btn btn-primary" name="userId" value="@data.Id">@blockText</button>
                        </form>
                        <p></p>
                        <form asp-controller="MyPage" asp-action="MakeAdmin" class="form-horizontal">
                            <button type="submit" class="btn btn-primary" name="userId" value="@data.Id">@TextModel.Context["make admin"]</button>
                        </form>
                    }
                    
                }
            </td>
            <td>@data.Id</td>
            <td>@data.UserName</td>
            <td>@data.Email</td>
        </tr>
    }
</table>