@using Korzh.EasyQuery.Linq;
@using System;
@using System.Web;
@using System.IO;
@model List<Review>

@{
    ViewData["Title"] = "Home Page";
    string searchString = ViewData["searchString"].ToString();
}

<h3>@TextModel.Context["search results"]</h3>
<p></p>

<script>
    var str = "@HttpUtility.UrlEncode(searchString.Replace(" ", "\u00A0"))";
    document.getElementById('searchInput').value = decodeString(str);
</script>

<form asp-controller="Review" asp-action="ReviewPage" class="form-horizontal">
    <table class="table" style="border-style: solid; border-color: red; ">
        @foreach (var data in Model)
        {
            <tr>
                <td><button type="submit" class="btn btn-primary" name="review" value="@data.Id"><i class="bi bi-eyeglasses"></i> @TextModel.Context["watch"]</button></td>
                <td id="@data.Id" align="left" style="width: 80%">
                    <partial name="../Review/ReviewData" model="data" view-data="ViewData" />
                </td>
            </tr>
        }
    </table>
</form>